<!DOCTYPE html>
<html ng-app="meetupApp">
<head>
  <title>Page Title</title>
</head>

<body>
  <div ng-controller="meetupsController">
  	<h1>There are {{meetupsCount}} meetups</h1>
  	<ul>
  		<li ng-repeat="meetup in meetups">
  			{{meetup.name}}
  		</li>
  	</ul>
  	<form ng-submit="createMeetup()">
  		<input type="text" placeholder = "Enter text" ng-model = "meetupName"></input>
  		<button type="submit">Add</button>
  	</form>
  </div>
  <script type="text/javascript" src="/js/vendor/angular.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-resource.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/controller/meetups-controller.js"></script>
</body> 

</html>
